* {
  box-sizing: border-box;
}

body {
  color           : #7f8c8d;
  background-color: #ecf0f1;
  background-image: url("../img/az-subtle.png");
  font-family     : "Montserrat", sans-serif;
  line-height     : 1.5;
}

a,
body { color: #7f8c8d; }

a       { text-decoration: none; }
a:hover { color: #27ae60; }

a,
a:hover { transition: color 0.2s ease; }

.caption {
  margin-top: 5px;
  font-size : .65em;
}

/* Main-Header Styles */

.main-header {
  padding         : 15px;
  text-align      : center;
  color           : #fff;
  background-color: #34495e;
  background-image: url("../img/transparent-square-tiles.png");
}

.main-header .fa,
.newsletter-title { color: #2ecc71; }

.newsletter-title-info { margin: 0; }
.fa-check-square-o     { vertical-align: sub; }

.main-title {
  margin-top    : 5px;
  text-transform: uppercase;
}

.newsletter-title {
  display      : inline-block;
  margin-bottom: 0.3em;
  margin-top   : 0;
}

.news-caption,
.newsletter-title-info,
label[for="more-interests"],
textarea { font-size: 0.9em; }

/* Form Styles */

fieldset {
  margin : 0;
  padding: 0;
  border : none;
}

legend {
  width        : 100%;
  margin-bottom: 30px;
  font-size    : 1.125em;
  text-align   : center;
  color        : #34495e;
}

fieldset { margin-bottom: 60px; }

.signup {
  position  : relative;
  padding   : 50px 1.5em;
  background: #ecf0f1;
}

.contact-info,
.group-btn,
.group-social,
.marketing-info,
.newsletter {
  max-width   : 500px;
  margin-right: auto;
  margin-left : auto;
}

/* State Selection */

#select-state {
  background-image   : url('../img/ic_keyboard_arrow_down_default.png');
  background-repeat  : no-repeat;
  background-position: 95% 50%;
  background-size    : 24px 24px;
}

#select-state:focus {
  background-image: url('../img/ic_keyboard_arrow_down_active.png');
  background-size : 32px 32px;
  color           : #2cae60;
}

#select-state,
#select-state:focus {
  -webkit-transition: all 0.2s ease-in;
  -moz-transition   : all 0.2s ease-in;
  transition        : all 0.2s ease-in;
}

/* Button Group Styling */

.btn {
  float           : left;
  width           : 47.5%;
  margin-right    : 2.5%;
  padding         : 15px;
  color           : #fff;
  border          : none;
  border-bottom   : 2px solid #2c3e50;
  border-radius   : 0.3em;
  background-color: #34495e;
}

.cancel {
  margin-right: 0;
  margin-left : 2.5%;
}

.submit:hover {
  border-bottom   : 2px solid #27ae60;
  background-color: #2ecc71;
}

.cancel:hover {
  border-bottom   : 2px solid #c0392b;
  background-color: #e74c3c;
}

.btn,
.cancel:hover,
.submit:hover {
  -webkit-transition: background-color 0.4s ease, border-bottom 0.4s ease;
  -moz-transition   : background-color 0.4s ease, border-bottom 0.4s ease;
  transition        : background-color 0.4s ease, border-bottom 0.4s ease;
}
/* Set form-item positioning to relative, so we can position our validation spans (.required) */
.contact-info .form-item {
  position     : relative;
  padding-top  : 24px;
  margin-bottom: 20px;
 }

 .contact-info .form-item label {
   position: absolute;
   top     : 0;
   left    : 0;
   display : inline-block;
 }

label[for="more-interests"] {
  display      : block;
  margin-top   : 20px;
  margin-bottom: 10px;
}

.fa-home,
.fa-newspaper-o { display: block; }

/* Base Input Styling */

textarea {
  min-height: 143.8px;
  resize    : vertical;
}

input,
select,
textarea {
  width        : 100%;
  height       : 56px;
  padding      : 15px;
  color        : #34495e;
  border       : 1px solid #ccc;
  border-radius: 0.3em;
  font-family  : "FontAwesome", "Montserrat", sans-serif;
}

input:focus,
select:focus,
textarea:focus {
  color       : #27ae60;
  border-color: #27ae60;
  outline     : none;
}

input,
input:focus,
select,
select:focus,
textarea,
textarea:focus {
  -webkit-transition: border-color 0.4s ease, color 0.4s ease;
  -moz-transition   : border-color 0.4s ease, color 0.4s ease;
  transition        : border-color 0.4s ease, color 0.4s ease;
}

select:-moz-focusring {
  color      : transparent;
  text-shadow: 0 0 0 #000;
}

/* Validation Styling */

.required {
  position   : absolute;
  top        : 0;
  right      : 0;
  font-size  : 0.75em;
  line-height: 1.75em;
}

.form-item input:invalid {
  border    : 1px solid tomato;
  box-shadow: none;
  color     : tomato;
}

.form-item input:invalid + .required { color: tomato; }
.form-item input:valid + .required   { color: #27ae60; }

.form-item input:invalid + .required,
.form-item input:valid + .required,
.contact-info .form-item:hover > label,
.required {
  -webkit-transition: color 0.4s ease;
  -moz-transition   : color 0.4s ease;
  -ms-transition    : color 0.1s ease;
  transition        : color 0.4s ease;
}

/* Newsletter Section */

.group-btn,
.group-format,
.group-interests { overflow: hidden; }

.group-format .form-item,
.group-interests .form-item {
  box-sizing: content-box;
  padding   : 5px;
}

.group-interests .form-item:last-of-type,
.group-interests .form-item:nth-of-type(4) { width: 96.95px; }

.news-caption:first-of-type { margin-top: 0; }

.news-caption {
  margin-top: 20px;
  text-align: justify;
}


/* SHARED RADIO/CHECKBOX STYLING */
/* Hide default radio and checkbox styling */

input[type="checkbox"],
input[type="radio" ] { display: none; }

/* default label text styles */
input[type="checkbox"] + label,
input[type="radio" ] + label {
  display           : inline-block;
  text-transform    : uppercase;
  line-height       : 24px;
  -webkit-transition: color 0.4s ease;
  -moz-transition   : color 0.4s ease;
  transition        : color 0.4s ease;
}

input[type="checkbox"] + label:hover,
input[type="radio" ] + label:hover { cursor: pointer; }

/* default checked style for label / button / checkbox */
input[type="checkbox"]:checked + label,
input[type="checkbox"]:checked + label > .check-box:before,
input[type="radio" ]:checked + label { color: #27ae60; }

input[type="checkbox"]:checked + label > .check-box,
input[type="radio"]:checked + label > .radio-bg { border-color: #27ae60; }

input[type="checkbox"] + label > .check-box,
input[type="checkbox"]:checked + label > .check-box,
input[type="radio" ] + label > .radio-bg,
input[type="radio"]:checked + label > .radio-bg {
  -webkit-transition: border-color 0.4s ease;
  -moz-transition   : border-color 0.4s ease;
  transition        : border-color 0.4s ease;
}

/* Unchecked default styles for both radio and check-box */
input[type="checkbox"] + label > .check-box,
input[type="radio" ] + label > .radio-bg {
  position      : relative;
  display       : inline-block;
  width         : 1.5em;
  height        : 1.5em;
  margin-right  : 5px;
  vertical-align: bottom;
  border        : solid 2px rgba(52, 73, 94, .8);
  border-radius : 50%;
}

/*   CHECKBOX SPECIFIC STYLING

     Checked check-box Styling     */
input[type="checkbox"]:checked + label > .check-box:before {
  position         : absolute;
  display          : block;
  width            : 1em;
  content          : "✓";
  font-weight      : bold;
  line-height      : 1em;
  -webkit-transform: translate(20%, 18%);
  -moz-transform   : translate(20%, 18%);
  -ms-transform    : translate(20%, 18%);
  transform        : translate(20%, 18%);
}

/*   RADIO SPECIFIC STYLING

     Checked Radio Button Styling     */
input[type="radio"]:checked + label > .radio-bg > .radio-select {
  position          : absolute;
  top               : 0;
  left              : 0;
  display           : block;
  width             : 1em;
  height            : 1em;
  border-radius     : 50%;
  background-color  : #27ae60;
  -webkit-transition: background-color 0.6s ease;
  -moz-transition   : background-color 0.6s ease;
  transition        : background-color 0.6s ease;
  -webkit-transform : translate(12%, 12%);
  -moz-transform    : translate(12%, 12%);
  -ms-transform     : translate(12%, 12%);
  transform         : translate(12%, 12%);
}

/* Marketing-info Section (How did you hear about us) */

.marketing-info .fa    { display: block; }
.marketing-info legend { margin-bottom: 30px; }

.marketing-info .form-item {
  float     : left;
  width     : 50%;
  text-align: center;
}

.marketing-info .form-item:not(:nth-of-type(n+5)) {
  margin-bottom: 30px;
}

.marketing-info input[type="checkbox"] + label > .check-box {
  display: none;
}

/*Social Icons*/

.group-social {
  margin-top: 40px;
  text-align: center;
  font-size : 0.75em;
}

.group-social i:not(:last-of-type) { margin-right: 10px; }

.group-social .fa,
.group-social .fa:hover { transition: color 0.4s ease; }

.group-social .fa:hover { cursor: pointer; }
.fa-twitter:hover       { color : rgb(94,169,221); }
.fa-facebook:hover      { color : rgb(63,88,155); }
.fa-google-plus:hover   { color : rgb(221,79,67); }

.form-footer {
  text-align: center;
  font-size : 0.75em;
  margin-top: 12px;
}
@media(min-width: 320px) {
  .group-format .form-item,
  .group-interests .form-item {
    float: left;
    clear: left;
  }

  .newsletter .form-item:nth-of-type(even) {
    float: right;
    clear: right;
  }
}
@media(min-width: 400px) {
  .marketing-info .form-item {
    display: inline-block;
    float  : left;
    width  : 33.3333%;
  }

  .marketing-info .form-item:nth-of-type(n+4) { margin-bottom: 0; }
}

/* Some Tablets & Small Desktop/Laptop Styles */
@media (min-width: 760px) {
  .main-container {
    max-width    : 750px;
    margin       : 0 auto;
    border-radius: 0.3em;
    box-shadow   : 0 0 26px 1px rgba(0,0,0,.25);
  }

  .main-header {
    margin-top             : 25px;
    border-top-left-radius : 0.3em;
    border-top-right-radius: 0.3em;
  }

  .signup {
    margin-bottom             : 25px;
    border-bottom-right-radius: 0.3em;
    border-bottom-left-radius : 0.3em;
  }

  .contact-info .form-item                    { overflow: hidden; }
  .contact-info .form-item:not(:last-of-type) { margin-bottom: 20px; }

  select,
  .contact-info .form-item input { border-left: none; }

  .contact-info .form-item > label {
  position   : static;
  display    : inline-block;
  margin     : 0;
  line-height: 54px;
  text-align : center;
}

  input,
  select {
    float: right;
    width: 85%;
    border-top-left-radius   : 0;
    border-bottom-left-radius: 0;
  }

  .contact-info label {
    float                    : left;
    width                    : 15%;
    color                    : #fff;
    border-top               : 1px solid rgba(39, 174, 96, 0);
    border-left              : 1px solid rgba(39, 174, 96, 0);
    border-bottom            : 1px solid rgba(39, 174, 96, 0);
    border-right             : none;
    background-color         : rgba(39, 174, 96, 1);
    border-top-left-radius   : 0.3em;
    border-bottom-left-radius: 0.3em;
  }

  .form-item input:focus + label {
    border-top   : 1px solid #27ae60;
    border-left  : 1px solid #27ae60;
    border-bottom: 1px solid #27ae60;
  }


  .form-item input:invalid + .required + label {
    border-color    : tomato;
    background-color: tomato;
  }

  .form-item input:valid + .required + label {
    border-color    : #27ae60;
    background-color: #27ae60;
  }

  .form-item input:focus + label,
  .form-item input:invalid + .required + label,
  .form-item input:valid + .required + label {
    transition: border-color .6s ease, background-color .6s ease;
  }


}

/* Large Desktop Displays */
@media (min-width: 1500px) {
  .contact-info .form-item:last-of-type { clear: left; }
  .contact-info                         { float: left; }

  .main-container { max-width   : 80%; }
  .newsletter     { padding-left: 2.5%; }
  .signup         { padding     : 50px; }

  .contact-info,
  .newsletter {
    width       : 100%;
    margin-right: 0;
    margin-left : 0;
  }

  .contact-info {
    margin-bottom: 0;
    padding-right: 2.5%;
    border-right : 1px solid #ccc;
  }


  .marketing-info {
    padding-left: 2.5%;
  }

  .newsletter { position: relative; }

  .border-left {
    border-left: 1px solid #ccc;
    position   : absolute;
    left       : -1px;
    bottom     : 0;
    height     : 90.85px;
  }

  .contact-info,
  .newsletter,
  .marketing-info {
    max-width: 50%;
  }

  .field-container {
    max-width    : 1200px;
    margin-left  : auto;
    margin-right : auto;
    margin-bottom: 60px;
    overflow     : hidden;
  }

  .form-footer {
    /* Use absolute positioning so we can place inside the padded area. */
    position  : absolute;
    bottom    : 1%;
    left      : 1%;
    text-align: left;
  }
}

.clearfix:after {
  display: table;
  clear  : both;
  content: "";
}
