* { box-sizing: border-box; }

body {
  font-family      : 'Montserrat', sans-serif;
  line-height      : 1.5;
  color            : #7f8c8d;
  background-color : #ecf0f1;
}

.container-main {
  padding-left  : 1.5em;
  padding-right : 1.5em;
}


/* Main-Header Styles */

.main-header {
  position         : relative;
  padding          : 15px;
  margin-bottom    : 60px;
  text-align       : center;
  color            : #fff;
  background-color : #34495e;
}

.main-header:after {
  content          : ' ';
  position         : absolute;
  border           : 30px solid transparent;
  border-top-color : #34495e;
  bottom           : -60px;
  transform        : translateX(-50%);
}

.main-title,
.newsletter-title { margin-top: 0; }

.main-title       { text-transform: uppercase; }
.newsletter-title { margin-bottom: .3em; }

.newsletter-title-info {
  margin    : 0;
  font-size : .9em;
}



/* Form Styles */

fieldset {
  padding : 0;
  margin  : 0 0 50px;
  border  : none;
}

legend {
  width      : 100%;
  font-size  : 1.125em;
  text-align : center;
  color      : #34495e;
}

.fa-home,
.fa-newspaper-o { display: block; }

.form-item > label,
label[for="select-state"] {
  display       : block;
  margin-top    : 10px;
  margin-bottom : 5px;
}


input[type="text"  ],
input[type="email" ],
input[type="tel"   ],
select {
  width         : 100%;
  padding       : 15px;
  border-radius : .3em;
  border        : 1px solid #ccc;
  outline       : none;
  font-family   : 'FontAwesome', 'Montserrat', sans-serif;
  color         : #34495e;
  transition    : transform .4s ease;
}

input[type="text"  ]:focus,
input[type="email" ]:focus,
input[type="tel"   ]:focus,
select:focus {
  transform  : scale(1.1);
  transition : transform .4s ease;
}

select:-moz-focusring {
    color       : transparent;
    text-shadow : 0 0 0 #000;
}
